.dashboard {
    text-align: center;
    color: 2C1208;
}

.addForm {
    text-align: center;
}

/*DisplayTasks component starts here*/
.displayTasks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    align-content: center;
    width: auto;

}

input {
    border-radius: 15px;
}

.heading-div {
    display: flex;
}
/*DisplayTasks component ends here*/

/*Task component starts here*/
.task-row {
    display: flex;
}

.task-row *{
    padding: 5px 15px;
    margin-top: 15px;
}

.task-row p {
    margin-right: 15px;
}

button {    
    background-color: darkslateblue;
    padding: 5px;
    width: 100px;
    text-align: center;
}
/*Task component ends here*/